/*PORTADA*/
main{
    position: relative;
    align-items: center;
    padding: 0 !important;

}
.main-imagen{
    max-height: 70vh;
    overflow: hidden;
}
.main-imagen img{
    height: auto;
    vertical-align: middle;
}
.main-texto{
    position: absolute;
    /* width: 30dvw;
    height: 30dvh; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--rosado);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5em;
}
.main-texto::before {
    content: ""; /* Necesario para mostrar el pseudo-elemento */
    position: absolute;
    top: -10px; /* Espacio encima del borde */
    left: -10px; /* Espacio a la izquierda del borde */
    right: -10px; /* Espacio a la derecha del borde */
    bottom: -10px; /* Espacio debajo del borde */
    border: 2px solid var(--rosado); /* Borde negro */
}
h1{
    font-family: "Great Vibes";
    font-weight: 500;
    font-size: 3.5em;
}

/*SECTION 1*/
.section-1{
    background-color: var(--gris);
    padding:5em;
}
.section-1 p{
    font-family: "Great Vibes";
    font-size: 1.7em;
}
.ornamento{
    margin-bottom: 0;
}

/*SECTION 2*/
.section-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    align-items: center;
    padding: 0;
    overflow: hidden;
}
.section-2 .contenedor-texto{
    padding: 5em;
    text-align: justify;
    
}
.section-2 .contenedor-texto p{
    margin-bottom: 2em;
}

.section-2 .contenedor-imagen{
    overflow: hidden;
}
.section-2 img{
    height: 100%;
    object-fit: cover;
}





@media screen and (max-width:950px){
    .main-texto{
        padding: 2em;
    }
    h1{
        font-size: 2em;
    }

    .section-1{
        padding: 2em;
    }
    .section-2{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'imagen'
            'texto';
        gap: 0;
    }
    .section-2 .contenedor-texto{
        padding: 2em;
        text-align: left;
        margin-bottom: 0;
        grid-area: texto;
    }
    .section-2 img{
        grid-area: imagen;
    }
}