.navegador nav ul li a:hover{
    color: rgb(var(--amarillo));
    border: 2px solid rgb(var(--amarillo));
}

body{
    background-image: url('../img/woman-with-pineapples-beach.jpg');
    background-repeat: no-repeat;
    background-size: 1440px auto;
    background-position: top;
    background-attachment: fixed; /* La imagen no se mueve al hacer scroll */
}

/*PORTADA*/
.portada{
    /* height: 70vh; */
    color: #fff;
    text-shadow: rgb(0, 0, 0) 3px 3px 3px;
    /* align-items: end;
    text-align: end; */
    position: relative;
}
.portada h2{
    font-size: 3em;
    font-weight: 700;
}
.portada p{
    color: #000;
    /* max-width: 35%; */
    margin: 2em 0;
    font-weight: 600;
    text-shadow: rgb(255, 255, 255) 3px 3px 3px;
}
.portada div{
    max-width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    align-content: center;
    text-align: end;
    padding-right: 2em;
}



/*MAIN*/
main.container{
    background-color: #fff;

}

.tienda-contenedor{
    columns: 3 250px;
    column-gap: 1em;
}
.tienda img{
    vertical-align: top;
    margin-bottom: 1em;
}








@media screen and (max-width:950px){
    body{
        background-size: 950px auto;
    }
    /* .portada{
        height: auto;
        align-items: center;
        text-align: center;

        margin: 2em 0;
    } */
    .portada div{
        max-width: 100%;
        left: 0;
        text-align: center;
        padding-right: 0;
        padding: 0 2em;
    }
    .portada h2{
        font-size: 2em;
    }


    .tienda-contenedor{
        columns: 3 150px;
    }

}
