/*HEADER*/
header{
    max-height: 70vh;
    overflow: hidden;
    position: relative;
}

header img{
    height: auto;
    vertical-align: middle;
}
h1{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*SECTION*/
.contenido-texto{
    padding: 2em 5em;
    text-align: center;
    /* border: 2px solid brown; */
}
section input{
    width: auto;
    align-self: center;

}
#texto-2{
    /* overflow: hidden;
    height: 0; */

    display: none;
    transition: .5s ease;

    /*opacity: 0;  Empieza con opacidad 0, es decir, invisible */
    /*visibility: hidden;  Lo ocultamos con visibilidad */
    /* transition: opacity 0.5s ease, visibility 0s 0.5s; */
}

#texto-2.mostrar{
    opacity: 1; /* Lo hacemos visible */
    visibility: visible; /* Lo hacemos visible */
    transition: opacity 0.5s ease, visibility 0s 0s; 
}

/*MAIN*/
main{
    display: grid !important;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
    margin: 5em;
}
h2{
    grid-column: span 3;
    font-size: 2em;
    font-weight: 500;
}
.tarjeta-coleccion{
    overflow: hidden;
}
.tarjeta-coleccion img{
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.boton-volver{
    flex-direction: row;
    /* padding: 0 5em; */
    /* font-size: .9em; */
}



@media screen and (max-width:950px){
    header{
        padding: 0 !important;
    }

    .contenido-texto{
        padding: 2em;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
        margin: 2em;
        gap: 1em;
    }
    h2{
        grid-column: span 2;
        font-size: 1.4em;
    }

    .boton-volver .boton{
        padding: 1em;
        font-size: .75em;
    }
}