/*HEADER*/
header{
    line-height: normal;
    /* margin: 2em 0; */
}
h1{
    font-weight: 400;
}
h2{
    font-size: 3.5em;
}

/*MAIN*/
.contenedor-imagen{
    max-height: 70vh;
    overflow: hidden;
    position: relative;
}
.contenedor-imagen button{
    position: absolute;
    z-index: 2;
    bottom: 15%;
    right: 5%;

}
.contenedor-imagen img{
    height: auto;
    vertical-align: middle;
}

.contenedor-texto{
    padding: 2em 5em;
    text-align: center;
}

/*ARTICULOS*/
section{
    gap: 2em;
}
.articulo-container{
    padding: 2em 5em;
    position: relative;
    /* border: 2px solid green; */
}
.articulo-imagen{
    max-height: 400px;
    overflow: hidden;
}
.articulo-container img{
    /* height: auto; */
    object-fit: cover;
    object-position: bottom;
    aspect-ratio: 4/2;
}
.articulo-container button{
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}





@media screen and (max-width:950px){
    h2{
        font-size: 2em;
    }
    .contenedor-imagen{
        /* max-height: 40vh; */
        max-height: 50vh;
        width: auto;
    }
    .contenedor-imagen button{
        /* bottom: 50%; */
        position: sticky;
    }
    .contenedor-texto{
        padding: 2em;
    }

    .articulo-container{
        padding: 1em 0;
    }
    .articulo-container button{
        top: 50%;
    }
}
